form.cadastro{
    width: 100%;
    max-width: 450px;

    & > input {
        margin-top: 18px;
    }

    &>.input-group {
        display: flex;
        margin-top: 18px;

        & > input + input {
            margin-left: 8px;
        }
    }
}