.new-incident{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: center;

        &>section{
            width: 100%;
            max-width: 380px;

            &>h1{
                margin: 64px 0 32px;
                font-size: 32px;
                color: $cor-texto-dark;
            }

            &>p{
                font-size: 18px;
                color:$cor-subtexto;
                line-height: 32px;
            }
            &>a{
                display: flex;
                align-items: center;
                margin-top: 40px;
                color: $cor-subtexto;
                font-size: 18px;
                text-decoration: none;
                font-weight: 500;
                transition: opacity 0,2s;

                &>svg{
                    margin-right: 8px;
                }
            }   
        }


}

@media only screen and ( max-width: $tablet ){
    .container-register{
        width: auto;
        .content {
            padding: 16px;
            width: auto;
             & > .new-incident{
                 margin-top: 200px;
                 width: auto;
                 height: auto;
                & > section {
                     width: auto; 
                     
                     display: flex;
                     flex-direction: column;
                     align-items: center;
                     & > h1 {
                         font-size: 24px;
                     }
                     & > p{
                         text-align: center;
                     }
                 }
             }
         }
    }
}