//imports
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');


//colors
$branco:#fff;
$cor-fundo:#f0f0f5;  
$cor-fundo-dark:#141D26;
$vermelho:#e02041;
$cinza-escuro: #41414d;
$form:#333333;
$form-dark:#243447;
$cor-texto:#41414d;
$cor-texto-dark:#fff;
$cor-subtexto:#A3A4BC;
$card:#dcdce6;
$card-night:#243447;

//tamanhos
$mobileL:425px;
$tablet:977px;
$tabletM:768px;
$WebS:1120px;


//fonts
%texto{
    font:400 14px roboto, sans-serif ;
}

body {
    @extend %texto;
    background: $cor-fundo-dark;
    -webkit-font-smoothing: antialiased;
}

button{
    cursor: pointer;
}

form input{
    width: 100%;
    height: 60px;
    color:$branco;
    border: 1px solid $card-night;
    border-radius:8px;
    padding: 0 24px;
    background-color: $card-night;
}

.texto {
    color: $cor-texto-dark;
}
.sub-texto{
    color:$cor-subtexto;
}

.button{
    width:100%;
    height: 60px;
    background: $vermelho;
    border: 0;
    border-radius: 8px;
    color: $branco;
    font-weight: bold;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;

    &:hover{
        filter: brightness(90%);
    }
}

textarea{
    width: 100%;
    min-height: 140px;
    color:$cor-texto-dark ;
    border: 1px solid $card;
    border-radius:8px;
    border-color: $card-night;
    padding: 16px 24px;
    line-height: 24px;
    margin-top:10px;
    background-color: $card-night;
}

