.profile-container{
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;


    &>header{ 
        display: flex;
        align-items: center;
        color:$cor-texto;

        &span{
            font-size: 20px;
            margin-left:24px;
        }

        & > .row-mobile {
            display: block;
            margin-left: auto;
            & > a {
                width: 260px;
                margin-left: auto;
                margin-top: 0;
            }
            & > button {
                height: 60px;
                width: 60px;
                border-radius: 4px;
                border: 1px solid $card-night;
                background: transparent;
                margin-left: 16px;
                transition: border-color 0,2s;
    
                :hover{
                    border-color: #999;
                }
            }
        }
    }
    & > h1 {
        margin-top: 80px;
        margin-bottom: 24px;
    }
    & > ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap:24px;
        list-style: none;

        & li{
            background: $card-night;
            padding: 15px;
            border-radius: 8px;
            position: relative;

            & > button {
                position: absolute;
                right: 24px;
                top: 24px;
                border: 0;
                background: transparent;
                :hover{
                    opacity: 0.8;
                }
            }
            & > strong {
              display: block;
              margin-bottom: 16px;
              color: $cor-subtexto;
            }
            & p + strong{
                margin-top: 32px;
            }
            & > p {
                color: $cor-subtexto;
                line-height: 21px;
                font-size: 16px;
            }
        }
    }

}

@media only screen and ( max-width: $tabletM ){
    .profile-container{

        &>header{ 
            flex-direction:column;

            & > span {
                margin:18px 0;
                
            }
            & > .row-mobile {
                flex-direction: row;
                display: flex;
                margin-left: 0;
            
                & > a {
                margin:0 20px 0 0;
                    
                }
            }
        }

        & > ul {
        grid-template-columns: repeat(1, 1fr);

        }
    }
}