.container-register{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    &>.content{
        width: 100%;
        padding: 96px;
        background: $cor-fundo;
        box-shadow: 0 0 100px rgba($color: #000000, $alpha: 0.1);
        border-radius: 8px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &>section{
            width: 100%;
            max-width: 380px;

            &>h1{
                margin: 64px 0 32px;
                font-size: 32px;
            }

            &>p{
                font-size: 18px;
                color:$cinza-escuro;
                line-height: 32px;
            }
        }
    }
   
}