.container-register{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    &>.content{
        width: 100%;
        padding: 96px;
        background: $cor-fundo-dark;
        box-shadow: 0 0 100px rgba($color: #000000, $alpha: 0.1);
        border-radius: 8px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &>section{
            width: 100%;
            max-width: 380px;

            

            &>h1{
                margin: 64px 0 32px;
                font-size: 32px;
                color: $cor-texto-dark;
            }

            &>p{
                font-size: 18px;
                color:$cor-subtexto;
                line-height: 32px;
            }
            &>a{
                display: flex;
                align-items: center;
                margin-top: 20px;
                color: $cor-subtexto;
                font-size: 18px;
                text-decoration: none;
                font-weight: 500;
                transition: opacity 0,2s;

                &>svg{
                    margin-right: 8px;
                }
              }   
        }
    }
   
}

@media only screen and ( max-width: $mobileL ){
    .container-register{
        flex-direction: column;
        margin: 0 auto;

        & > .content{   
        margin-top: 100px;
        flex-direction: column;
        margin: 0 auto;
            
            & > section {
                width: auto;
                & > img {
                margin-top: 400px;   
                }
            }
        }

        & > form.cadastro {
           width: auto;
           
           & > .input-group {
               flex-direction: column;
           }
        }
    }

}

@media only screen and ( max-width: $tablet ){
    .content{
        flex-direction: column;
        width: auto;
        margin: 0 auto;
        &  > section {
          width: auto;
          text-align: center;
          
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;  
          & > img {
              margin-top: 300px;
          }

        }
    }
}
